/* For license and copyright information please see LEGAL file in repository */

main {
    padding: 4px;
    background-color: var(--color--surface);
}

Button.file {
    display: inline-flex;
    width: 100%;
}

section#explorer {
    background-color: var(--color--surface--dark);
}

summary h1 {
    display: contents;
    font-size: 1rem;
}

summary h2 {
    display: contents;
    font-size: 0.9rem;
}

summary h3 {
    display: contents;
    font-size: 0.8rem;
}

div>a {
    display: contents;
}